<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.MainActivityAlias"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:label="@string/home"
            android:name=".ui.HomeHomeSettings"/>

        <activity
            android:label="@string/recent"
            android:name=".ui.RecentActivity"/>

        <activity
            android:label="@string/widget"
            android:name=".ui.WidgetActivity"/>

        <activity
            android:label="@string/folder"
            android:name=".ui.FolderActivity"/>

        <activity
            android:label="@string/dock_settings"
            android:name=".ui.DockActivity" />

        <activity
            android:label="@string/other_features"
            android:name=".ui.OtherFeaturesActivity"/>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about" />

        <provider
            android:name=".provider.SharedPrefsProvider"
            android:authorities="com.yuk.miuiHomeR.provider.sharedprefs"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>