<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.MainActivityAlias"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/home" />

        <activity
            android:name=".ui.AppDrawerActivity"
            android:label="@string/app_drawer" />

        <activity
            android:name=".ui.RecentActivity"
            android:label="@string/recent" />

        <activity
            android:name=".ui.WidgetActivity"
            android:label="@string/widget" />

        <activity
            android:name=".ui.FolderActivity"
            android:label="@string/folder" />

        <activity
            android:name=".ui.DockActivity"
            android:label="@string/dock_settings" />

        <activity
            android:name=".ui.OtherActivity"
            android:label="@string/other_features" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings" />

        <activity
            android:name=".ui.AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:theme="@style/Theme.AppCompat.Translucent.NoActionBar.NoAnimation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="yuk.intent.action.About" />
            </intent-filter>

        </activity>

        <provider
            android:name=".provider.SharedPrefsProvider"
            android:authorities="com.yuk.miuiHomeR.provider.sharedprefs"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="false" />
        </service>

        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>